<div class="paretto__filters">
  {{#each filters as |filter|}}
    <button {{action filterAction filter.value}} class="filters-button">
      {{filter.label}}
    </button>
    <span class="filters-divider">/</span>
  {{/each}}
</div>
{{yield}}
