<header class="paretto__header">
  <div class="p-container">
    <div class="header__logo">
      {{#link-to "index"}}
        Pare<span>t</span>to
      {{/link-to}}
    </div>
    <div class="header__usermenu">
      {{username}}
    </div>
  </div>
</header>
{{!-- {{yield}} --}}
