<ul>
  {{#each palettes as |palette|}}
    {{#link-to "palette" palette.id}}
      <li>
        {{p-palette colours=palette.colours id=palette.id}}
      </li>
    {{/link-to}}
  {{else}}
    No palette has been created
  {{/each}}
</ul>
{{#link-to "index"}}Some link{{/link-to}}
