<ul class="paretto__list">
  {{#link-to 'palette' 0}}
    <li class="paretto__list-item">
      <span>+</span>
    </li>
  {{/link-to}}
  {{#each palettes as |palette|}}
    {{#link-to "palette" palette.id}}
      <li class="paretto__list-item">
        {{p-palette colours=palette.colours id=palette.id}}
      </li>
    {{/link-to}}
  {{else}}
    No palette has been created
  {{/each}}
</ul>
