@import "normalize";
@import "variables";

body {
  background-color: $light-color;
  font-family: $sans-font;
  font-size: $font-size;
  font-weight: $font-weight;
}

.p-container {
  width: $container-width;
  margin: 0 auto;
}

a {
  color: $contrast-color;
  text-decoration: none;
  outline: none;
  border: 0;
  cursor: pointer;
}

button {
  background-color: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
  color: inherit;
}

@import "components/p-header";
@import "components/p-subheader";
@import "./login";
