.paretto-subheader {
  .paretto__search {
    width: 600px;
    margin: 0 auto;
    border-bottom: 1px solid #e5e5e5;
    input {
      width: 100%;
      display: inline-block;
      padding: 1.5rem 0;
      font-size: 1.2rem;
      color: $dark-color;
    }
  }
  .paretto__filters {
    background-color: #fdfdfd;
    border-bottom: 1px solid #e5e5e5;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #999;
    font-weight: normal;
    .filters-button {
      padding: 0;
      &.active {
        color: $dark-color;
      }
      &.filters-button--active {
        color: black;
        font-weight: bold;
      }
    }
    .filters-divider {
      color: #e5e5e5;
      margin: 0 1rem;
      &:last-child {
        display: none;
      }
    }
  }
}
